body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}

header {
  background-color: white;
  border-bottom: 1px solid #ff0000;
}

p {
  line-height: 22px;
  margin-bottom: 60px;
}
nav {
  background: white;
  margin-bottom: 30px;
}
.logo {
  width: 200px;
  height: 31.47px;
}

section {
  background: white;
  padding: 30px 60px;
  border-radius: 20px;
}
.container {
  width: 1024px;

  margin: auto;
  padding: 30px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  color: #393c6c;
  text-align: center;
}
.baseline {
  text-align: center;
  margin-top: 20px;
}
p.baseline {
  margin-bottom: 30px;
}

.totalTime {
  width: 400px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background: #8a98b1;
  border-radius: 10px;
}

.totalTime p {
  color: white;
  font-weight: 700;
  font-size: 22px;
  align-content: center;
  text-align: center;
  padding-top: 10px;
}

.centerImg {
  display: flex;
  justify-content: center;
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-position: center;
  margin: auto;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
li {
  font-weight: 400;
  font-size: 16px;
  list-style: square;
  margin-left: 15px;
  color: #393c6c;
}

h3 {
  color: #393c6c;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

h3 + p {
  margin-bottom: 30px;
}

.credits {
  text-align: center;
}
